*
!config
!config/config.yaml
!envs
!envs/*
!LICENSE
!README.md
!workflow
!workflow/**
!rna-seq-star-gex.svg
!.gitignore
!.editorconfig
!.gitattributes
!.snakemake-workflow-catalog.yaml
!.test
!.test/data
